:root {
    --green: #3a7964;
    --white: #FFF;
    --dark-blur: #001428;
}

.container {
    background-color: var(--dark-blur);
    min-height: 100vh;  
}

.container h1 {
    color: var(--green);
    font-weight: 500;
}

.bg-color {
    background-color: var(--dark-blur);
}

.text-color {
    color: var(--green);
}

.button {
    background-color: var(--green);
    color: var(--white);
}